extends base

block content
    - console.log('user is', user)
    - if (!user)
        section.section-middle__welcome
            h1 Welcome to the Components API Portal
                h3 To use this service, please log in first to your existing account, or create a new one if this is the first time you use this application.
                .section-middle--welcome__nav
                    a(href="/login" class="btn--login") Log In as a user
                    a(href="/signup" class="btn--signup") Or create an Account...

    - else 
        section.section-middle
            .section-middle-dropzone
                .section-middle-query-bar
                    h1 Electronic Components Portal
                    p This portal helps you collect information about your electronic components on the Web.
                    .section-middle-browse-unitary
                    h3 Search Query
                    input.section-middle-input
                    button(type="button" class="btn-submit") Validate
                    button(type="button" class="btn-reset") Erase
                div(id="myProgress" class="my-progress")
                div(id="myBar")
                .section-middle-browse
                    div(id="drop_zone" class="dropzone stripes")
                        img(class="upload-img" src="/img/Upload-icon2.png")
                        p.drag-drop-label Drag-&-drop a file in this area...
        
                        button(class="section-middle-getfilebutton" onclick="document.getElementById('section-middle-getfile').click()") Select a file from Computer
                        input(type='file' id="section-middle-getfile" accept=".txt,.csv" style="display:none")
                .section-middle-dropzone-output
                    div(class="loader-spinner")
                    h3.query-input-title Add some components to search...
                    .query-input-preview


            .section-middle-queryoptions
                .query-options-intro      
                    h1 Configure your Search
                    h3 Compose your API Search using the configuration panel(s) below...
                .query-options-firstpanel  
                    img(src="/img/Mouser-logo.png" class="panel-img")
                    form
                        label Region of the data :
                        select(id="cars" name="cars")
                            option(value="volvo") volvo
                            option(value="volvo") volvo
                            option(value="volvo") volvo
                            option(value="volvo") volvo
                        button(href="/") Save settings
                .query-options-secondpanel  
                    h1 panel number 2
                .query-options-thirdpanel  
                    h1 panel number 3
                button(class="query-input-confirm") Confirm Research Options
            .section-middle-table
                h3 Consult the results...